accelerate==0.15.0
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click==8.1.3
cryptography
filelock==3.9.0
flit_core
huggingface-hub==0.11.1
idna
joblib==1.2.0
Levenshtein==0.21.0
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
nltk==3.8.1
numpy
packaging==22.0
Pillow==9.3.0
psutil==5.9.4
pycparser
pyOpenSSL
PySocks
PyYAML==6.0
rapidfuzz==3.0.0
regex==2022.10.31
requests
scikit-learn==1.2.0
scipy==1.10.0
seqeval==1.2.2
six
threadpoolctl==3.1.0
tokenizers==0.13.2
tqdm==4.64.1
transformers==4.25.1
typing_extensions
urllib3
